.settings {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	display: flex;
	padding: 40px 30px;
	justify-content: center;
	align-items: center;
	&__body {
		width: 1000px;
		height: 100%;
		display: flex;
		border-radius: 12px;
		background: rgb(var(--bg));
		box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	}
	&__content {
		width: 100%;
		position: relative;
	}
	&__sidebar {
		min-width: 220px;
		height: 100%;
		background: rgb(var(--bg-light));
		padding: 20px 12px 0px;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
	}
	&__title {
		font-size: 18px;
		font-weight: 500;
	}
	&__subtitle {
		font-size: 16px;
		font-weight: 600;
	}
	&__subtext {
		color: rgb(var(--text-light));
		font-size: 12px;
		line-height: 15px;
		font-weight: 300;
	}
	&__link {
		color: rgb(var(--text-light));
		transition: all 0.3s ease;

		&:hover {
			color: rgb(var(--text-support));
		}
	}
	&__block {
		margin-top: 20px;
	}
	&__group {
		display: flex;
		margin-top: 10px;
		align-items: flex-end;
	}
	&__group-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 400px;
	}
	&__text {
		line-height: 18px;

		span {
			font-weight: 700;
		}
	}
	&__form {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
	}
	&__container {
		padding: 0px 16px;
		margin-top: 60px;
		padding-bottom: 20px;
		overflow: auto;
		flex: 1 1 auto;
	}
	&__header {
		display: flex;
		position: absolute;
		border-top-right-radius: 12px;
		top: 0;
		left: 0;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(var(--text-light));
		padding: 20px 16px;
		background: rgb(var(--bg));

		.back,
		.main-back {
			margin-right: 10px;
		}

		.close {
			margin-left: auto;
		}
	}
	&__footer {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		background: rgb(var(--bg));
		border-top: 1px solid rgb(var(--text-light));
		padding: 10px;
	}
	&__email {
		.settings__group {
			align-items: center;
		}
	}
	&__theme {
		display: flex;
		margin-top: 10px;
		align-items: center;
		flex-wrap: wrap;
	}
	&__btn-social {
		color: rgb(var(--bg));
		background: rgb(var(--text));
	}
	&__img-social {
		margin-right: 10px;
	}
	&__input {
		flex: 1;
		max-width: 400px;
	}
	@media (min-width:768px) {
		.main-back {
			display: none;
		}
	}
	@media (max-width: 768px) {
		padding: 40px 0px 0px 0px;
		&__sidebar {
			position: absolute;
			width: 100%;
			z-index: 10;
			left: -100%;
			transition: left 0.3s ease;
		}
		.active {
			left: 0;
			transition: left 0.3s ease;
		}
	}
}
.settings-sidebar {
	&__menu {
		margin-top: 20px;
	}

	&__item {
		color: rgb(var(--text));
		font-size: 14px;
		font-weight: 500;
		display: flex;
		align-items: center;
		line-height: 30px;
		border-radius: 12px;
		transition: all 0.4s ease;
		padding: 0px 10px;

		&:hover {
			background: rgb(var(--text));
			color: rgb(var(--bg-light));
		}

		&::before {
			margin-right: 10px;
		}

		margin-bottom: 5px;

		&:hover {
			background: rgb(var(--text));
			color: rgb(var(--bg));
		}
	}

	&__logo {
		font-weight: 400;
		margin-right: 10px;
		font-size: 20px;
	}

	&__item_active {
		background: rgb(var(--text));
		color: rgb(var(--bg));
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (min-width:768px) {
			.close {
				display: none;
			}
		}
	}
}
.settings-footer {
	&__btn-submit {
		margin: 0px 0px 0px 10px !important;
	}
}