.settings-general {
	&__group {
		margin-bottom: 5px;
	}
}

.settings-theme {
	&__item {
		margin-right: 20px;
		margin-top: 10px;
	}

	&__item-btn {
		background: transparent;
		transition: all 0.3s ease;
		transform: translate(0px, 0px);

		&:hover,
		&:focus {
			box-shadow: 0 0 20px rgba(0, 0, 0, .2);
			transform: translate(0px, -5px);
		}
	}
}